# Dodo Payments Configuration
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_ENVIRONMENT=test_mode
DODO_WEBHOOK_SECRET=
DODO_PRODUCT_ID=pdt_0NnHQoRe1CBPJFbKEmD0t

# Application URL
APP_URL=https://atlasmedic.vercel.app

# Firebase Admin Service Account Credentials
FIREBASE_PROJECT_ID=atlas-cloud-6f1c6
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@atlas-cloud-6f1c6.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=
